<mgheader title="{{ workOrder.data.DESCRIPTION }}"></mgheader>


<div class="content grey-background">

    <div class="complete-wrapper tg grey">
      <div class="complete-row1 bg-green white">
        WORK ITEM 1
        <span class="complete-darkgreen">COMPLETE</span>
      </div>

      <div class="complete-row2">
        <div class="radio-button-filled"></div>
        <div class="complete-col22">Permanently Repaired</div>
      </div>

      <div class="complete-row3 bg-grey white">
        <div class="complete-col31">MADE SAFE (Select Reason)</div>
      </div>

      <a href="#/WorkOrder-8/{{ workOrder.data.WONUM }}">
        <div class="complete-row4 grey">
          <div class="radio-button-empty"></div>
          <div class="complete-col42">out of time</div>
        </div>
      </a>

      <a href="#/WorkOrder-8/{{ workOrder.data.WONUM }}">
        <div class="complete-row4 grey">
          <div class="radio-button-empty"></div>
          <div class="complete-col42">materials required</div>
        </div>
      </a>

      <a href="#/WorkOrder-8/{{ workOrder.data.WONUM }}">
        <div class="complete-row4 grey">
          <div class="radio-button-empty"></div>
          <div class="complete-col42">made safe - third party</div>
        </div>
      </a>

      <a href="#/WorkOrder-8/{{ workOrder.data.WONUM }}">
        <div class="complete-row4 grey">
          <div class="radio-button-empty"></div>
          <div class="complete-col42">made safe as instructed</div>
        </div>
      </a>

      <a href="#/WorkOrder-8/{{ workOrder.data.WONUM }}">
        <div class="complete-row4 grey xlast">
          <div class="radio-button-empty"></div>
          <div class="complete-col42">other issues</div>
        </div>
      </a>

    </div>

</div>


<div class="footer">

  <div class="left">
    <a href="#/WorkOrderList">
      <div class="back-icon"></div>
      <div class="back-text white osr">BACK</div>
    </a>
  </div>

</div>











