<mgheader title="Location"></mgheader>

<div class="content"> <!-- class="content nativescroll" -->


    <!-- btn navigation -->
    <div class="buttonbar grey-bg-top">
        <div class="button" ng-click="takeAnotherPhoto()">
            <div class="bg-orange defect-icon photo-btn">
                <p class-="btn-text">Add Photo</p>
            </div>
        </div>
        <div class="button">
            <div class="bg-darkred defect-icon location-btn">
                <p class-="btn-text">Location</p>
            </div>
        </div>
        <div class="button" ng-click="updateStatus()">
            <div class="bg-lightgrey defect-icon defect-type-btn">
                <p class-="btn-text">Defect Type</p>
            </div>
        </div>
        <div class="button">
            <div class="bg-lightgrey defect-icon defect-details-btn">
                <p class-="btn-text">Details</p>
            </div>
        </div>
        <div class="button">
            <div class="bg-lightgrey defect-icon defect-complete">
                <p class-="btn-text">Complete</p>
            </div>
        </div>
    </div>

    <mgscroll>
        <div class="card flex">

            <div class="card-header bg-turq white">
                <div class="card-header-title osr">
                    USRN: {{ USRN }}
                </div>
            </div>
            <div class="card-text-row osr">
            </div>
            <div class="positioned" ng-click="mapClick()">

                <div class="google-map flex"
                     center="position.coords"
                     zoom="zoomProperty"
                     markers="markersProperty"
                     latitude="position.coords.lat"
                     longitude="position.coords.lng"
                     mark-click="true"
                     draggable="true"
                     fit="false"
                     events="eventsProperty"
                     dragging="dragging"
                     style="height:200px">
                    <div class="map-loading osb silver">Loading map...</div>
                </div>

            </div>
        </div>
        <div class="card-sep grey-background"></div>
        <div class="card flex">
            <div class="textarea-header tg bg-blue grey">
                Comments:
            </div>
            <div class="positioned">
                <div class="dummy-comments osb silver" ng-show="!defectObj.data.locationComments && !isCommentsFocused">enter additional comments here</div>
                <textarea class="osr" ng-model="defectObj.data.locationComments" ng-focus="isCommentsFocused=true" ng-blur="isCommentsFocused=false">{{locationComments}}</textarea>
            </div>
        </div>
    </mgscroll>

    <div ng-show="resumingOverlay" class="waiting-overlay osr">
        <div class="message">RESUMING APP...</div>
    </div>

</div>

<div class="footer">
    <div class="left">
        <a ng-click="goBack()">
            <div class="back-icon"></div>
            <div class="back-text silver osr">BACK</div>
        </a>
    </div>
    <div class="button-group">
        <div class="btn red" ng-click="abort()">ABORT</div>
    </div>
    <div class="right">
        <div ng-click="goForward()">
            <div class="forward-icon"></div>
            <div class="forward-text silver osr">FORWARD</div>
        </div>
    </div>
</div>

<mgdialog title="Are you sure?" header-class="bg-turq" control="abortDialog">
    <div class="query-dialog">
        <div class="text osr">
            <p>You are about to abort the current Defect. Are you sure?</p>
            <div class="button-group">
                <button value="ok" class="btn green flex-container" ng-click="abortDialog.closeOk()">OK</button>
                <button value="cancel" class="btn green flex-container" ng-click="abortDialog.closeCancel()">Cancel</button>
            </div>
        </div>
    </div>
</mgdialog>

