<div class="card">
    <div class="card-header bg-turq white">
        <div class="card-header-title osb">
            Fault Type: {{ fault.faulttype }}
        </div>
    </div>

    <div class="usrn-summary osr">
        <div>Fault type:&nbsp;&nbsp;&nbsp;&nbsp;Footway and Kerb - Kerbing</div>
        <div>Defect type:&nbsp;&nbsp;&nbsp;&nbsp;Other locations</div>
        <div>Co-ordinates:&nbsp;&nbsp;&nbsp;&nbsp;52.268, -7.141</div><br />

        <div class="flex-container">
            <div class="flex usrn-summary-column">
                <div class="flex-container">
                    <div class="flex">Priority:</div><div>P3</div>
                </div>
                <div class="flex-container">
                    <div class="flex">Road Speed:</div><div>40</div>
                </div>
                <div class="flex-container">
                    <div class="flex">Width:</div><div>40mm</div>
                </div>
            </div>
            <div class="flex usrn-summary-column">
                <div class="flex-container">
                    <div class="flex">Quantity:</div><div>P3</div>
                </div>
                <div class="flex-container">
                    <div class="flex">Depth:</div><div>25mm</div>
                </div>
                <div class="flex-container">
                    <div class="flex">Length:</div><div>85mm</div>
                </div>
            </div>
        </div><br />
        <div>Traffic Management: Give and Take</div>
        <!-- commenting out for now until we decide how defects will be edited // bg
        <div class="button-group" ng-click="openDefect()">
            <div class="btn green flex-container">OPEN DEFECT</div>
        </div>
        -->
    </div>
</div>