.location-content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 88px;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.dummy-comments {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    font-size: 14px;
    text-align: center;

    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;

    -webkit-box-pack: center;
    justify-content: center;
}

.map-loading {
    height: 200px;
}

.map-loading {
    text-align: center;
    line-height: 200px;
}